* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, rgb(127, 3, 228), rgb(2, 97, 228), rgb(3, 239, 239));
      
}


